{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }], 
    "@babel/preset-typescript"
  ],  
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@app": "./app",
        "@test": "./tests"
      }
    }]
  ],
  "retainLines": true,
  "sourceMaps": "inline"
}