{
    "tagFormat": "${version}",
    "plugins": [
        "@semantic-release/commit-analyzer", 
        ["@semantic-release/npm", {
            "npmPublish": false
        }],
        "@semantic-release/release-notes-generator", 
        ["@semantic-release/changelog", {
            "changelogFile": "CHANGELOG.md"
        }],
        ["@semantic-release/exec", {
            "prepareCmd": "./bin/make_release.sh ${nextRelease.version}",
            "publishCmd": "./bin/deploy_app.sh"
        }],
        "@semantic-release/git",
        ["@semantic-release/github", {
            "assets": [
               {
                  "path": "/tmp/helm-package/helm-package.tgz", 
                  "name": "helm-package-${nextRelease.version}.tgz",
                  "label": "Helm package ${nextRelease.version}"
                }
            ]
          }]
    ]
}